<section style="width: 100% !important;">
  <div id="carouselExampleIndicators" class="carousel slide carrosel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../assets/code-001.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/imac-002.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/smartphone-003.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-myspot" src="../../../assets/My Spot.jpeg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section>
  <div class="d-flex justify-content-center text-above-img ">
    <label class="text-white">Desenvovimento</label><br />
  </div>
  <div class="d-flex justify-content-center text2-above-img ">
    <p class="text-white">Android & web</p>
  </div>
</section>
<div class="div-main container-fluid pt-2" role="main">
  <!-- <img src="../assets/ocean-3605547_1920.jpg" class="container-flex img-fundo" alt="fundo"> -->
  <section class='container pt-5'>
    <header class='d-flex justify-content-around'>
      <div id='cd-01' class="card mt-5 mb-5  d-inline-block ">
        <div class="card-body">
          <h2 class="text-center">Aplicações web</h2>
          <p>Reactjs, Angular, Wordpress para loja virtual</p>
          <div class='d-flex justify-content-around i1'>
            <i class="pi pi pi-globe text-danger" style="font-size: 2.5em"></i>
          </div>
        </div>
      </div>
      <div id='cd-02' class="card mt-5 mb-5  d-inline-block ">
        <div class="card-body">
          <h2 class="text-center">Mobile Android</h2>
          <p>Área de segurança privada e automação</p>
          <div class='d-flex justify-content-around i2'>
            <i class="pi pi-android text-danger" style="font-size: 2.5em"></i>
          </div>
        </div>
      </div>
      <div id='cd-03' class="card mt-5 mb-5  d-inline-block ">
        <div class="card-body">
          <h2 class="text-center">Mobile React Native</h2>
          <p>Para Andoid e IOS</p><br>
          <div id="i3" class='d-flex justify-content-around i3'>
            <i class="pi pi-mobile text-danger" style="font-size: 2.5em"></i>
            <i class="pi pi-tablet text-danger" style="font-size: 2.5em"></i>
          </div>
        </div>
      </div>
    </header>
  </section>


  <section id="table" class="container-fluid slideanim">

    <div id="desenv" class='container'>
      <div id="desenv-square">
        <hr>
        <h1 class="text-primary ml-4">Aplicativos desenvolvidos na Fabianopdev</h1><br>
        <header id="texto-esq">
          <h3 class="ml-4" style="text-align: left; color: rgb(112, 103, 103);">Aplicativos na plataforma Android</h3>
          <caption>
            <p class="ml-4">Desenvolvido com Android Studio
              Outubro/2019</p>
          </caption>
          <table id="tableindex">
            <tr class="colordest">
              <td class="text-primary font-weight-bold">Trabalhos</td>
              <td class="text-primary font-weight-bold">Produtos</td>
              <td class="text-primary font-weight-bold">Tecnologias</td>
              <td class="text-primary font-weight-bold">Conexão</td>
              <td class="text-primary font-weight-bold">Destinado</td>
            </tr>
            <tr>
              <td class="colordest text-primary font-weight-bold" rowspan="3">APP Android</td>
              <td>Pânico móvel</td>
              <td>Locate</td>
              <td>Socket HTTP</td>
              <td>Monitoramento</td>
            </tr>
            <tr>
              <td>Chegada Assistida</td>
              <td>Locate</td>
              <td>Socket HTTP</td>
              <td>Monitoramento</td>
            </tr>
            <tr>
              <td>Relatório Células</td>
              <td>Realtime Database</td>
              <td>Firebase</td>
              <td>Controle</td>
            </tr>
          </table>
        </header>
      </div>
      <hr>
    </div>

  </section>
  <section>

    <div id="nvsquare-nv" class="container slideanim">
      <div id="nv-square">
        <header id="nv" class='jumbotron'>
          <h2>Novidades</h2>
          <h3>Botão de pânico no celular.</h3>
          <p>
            Quando um cliente, que usa um sistema de segurança, está em uma situação de perigo; ele pode fazer uso de
            um
            dispositivo conhecido como botão de pânico. E este por sua vez avisa a empresa de segurança que o seu
            cliente
            encontra-se com algum problema. Cabendo a empresa de monitoramento tomar as devidas iniciativas para
            atender
            ao
            cliente. Evidentemente era necessário o cliente estar em sua residência ou próximo dela, pois se utiliza
            um
            controle remoto do alarme residencial para ativar o alarme de pânico.<br />
            <br /> Agora com o App HelpButton você pode ter esse serviço mesmo quando não estiver em casa. Integrado
            ao
            sistema
            VS que varias empresas de segurança utilizam, seu celular pode alem de notificar a empresa de
            monitoramento
            da
            sua
            necessidade também pode localizar exatamente você onde você estiver. Tudo graças ao serviço de GPS
            integrado
            ao
            sistema.
          </p>
        </header>
      </div>
    </div>
  </section>
  <section>
    <div class="container mt-2 pt-5">
      <div class="header-text">
        <!-- <img width="40" alt="Fabianospdev Logo" src="../assets/Logo-dev-95x75.png" /> -->
        <p class='mt-2'><span><i class="pi pi-star text-danger mr-2"></i></span>Com o advento da pandemia de covid-19
          muitas
          pessoas
          descobriram que poderiam
          continuar ganhando dinheiro com o seu negócio com os serviços online. Contudo, muitos
          desses pequenos comerciantes não tinham uma loja virtual pronta para esse fim. E como
          o desenvolvimento de uma solução que atenda as expectativas do cliente não é algo
          necessariamente rápido, ficaram sem condições de manter seus negócios e entrando em dificuldades.
        </p>
        <p>
          O baixo investimento para iniciar uma loja virtual é uma grande oportunidade para empreender.
          Os custos mensais fixos de uma loja virtual são muito menores que o das lojas físicas, já que elas não pagam
          aluguel, IPTU, água, luz e outras despesas. Quanto menores os custos fixos, maior o potencial do negócio.
          Sem limitações geográficas, funcionamento 24 horas, pagamento garantido. Seguro para entrega do produto e
          muito
          mais.
        </p>
      </div>
    </div>
  </section>

</div>

<!-- Footer -->
<footer class='first-footer bg-dark text-light'>
  <div class="">
    <p>Fabianospdev<br>
      Florianópolis /sc, Brasil
    </p>
  </div>
</footer>
