<div class="div-main container-fluid pt-2" role="main">
  <!-- <img src="../assets/ocean-3605547_1920.jpg" class="container-flex img-fundo" alt="fundo"> -->
  <section>
    <div class="container mt-2 pt-5">
      <!-- <img width="40" alt="Fabianospdev Logo" src="../assets/Logo-dev-95x75.png" /> -->
      <p class='mt-2'><span><i class="pi pi-star text-danger mr-2"></i></span>Com o advento da pandemia de covid-19
        muitas
        pessoas
        descobriram que poderiam
        continuar ganhando dinheiro com o seu negócio com os serviços online. Contudo, muitos
        desses pequenos comerciantes não tinham uma loja virtual pronta para esse fim. E como
        o desenvolvimento de uma solução que atenda as expectativas do cliente não é algo
        necessariamente rápido, ficaram sem condições de manter seus negócios e entrando em dificuldades.
      </p>
      <p>
        O baixo investimento para iniciar uma loja virtual é uma grande oportunidade para empreender.
        Os custos mensais fixos de uma loja virtual são muito menores que o das lojas físicas, já que elas não pagam
        aluguel, IPTU, água, luz e outras despesas. Quanto menores os custos fixos, maior o potencial do negócio.
        Sem limitações geográficas, funcionamento 24 horas, pagamento garantido. Seguro para entrega do produto e muito
        mais.
      </p>
    </div>
  </section>

  <section class='container pt-5'>
    <header class='d-flex justify-content-around'>
      <div id='cd-01' class="card mt-5 mb-5  d-inline-block ">
        <div class="card-body">
          <h1>Aplicações web</h1>
          <h3>Reactjs, Angular, Wordpress para loja virtual</h3>
          <p>Reactjs, Angular, Wordpress para loja virtual</p>
        </div>
      </div>
      <div id='cd-02' class="card mt-5 mb-5  d-inline-block ">
        <div class="card-body">
          <h1>Mobile Android</h1>
          <p>Área de segurança privada e automação</p>
          <div class='d-flex justify-content-around'>
            <i class="pi pi-android text-danger" style="font-size: 2.5em"></i>
          </div>
        </div>
      </div>
      <div id='cd-03' class="card mt-5 mb-5  d-inline-block ">
        <div class="card-body">
          <h1>Mobile React Native</h1>
          <p>Para Andoid e IOS</p><br>
          <div class='d-flex justify-content-around'>
            <i class="pi pi-mobile text-danger" style="font-size: 2.5em"></i>
            <i class="pi pi-tablet text-danger" style="font-size: 2.5em"></i>
          </div>
        </div>
      </div>
    </header>
  </section>


  <section id="table" class="container-fluid slideanim">

    <div id="desenv" class='container'>
      <div id="desenv-square">
        <h1>Desenvolvimento</h1>
        <h2>
          Veja os aplicativos desenvolvidos<br>Aplicações mobile.
        </h2>
        <header id="texto-esq">
          <h2 style="text-align: left; color: #000;">Aplicativos na plataforma Android</h2>
          <caption>
            <p>Desenvolvido com Android Studio
              Outubro/2019</p>
          </caption>
          <table id="tableindex">
            <tr class="colordest">
              <td>Trabalhos</td>
              <td>Produtos</td>
              <td>Tecnologias</td>
              <td>Conexão</td>
              <td>Destinado</td>
            </tr>
            <tr>
              <td class="colordest" rowspan="3">APP Android</td>
              <td>Pânico móvel</td>
              <td>Locate</td>
              <td>Socket HTTP</td>
              <td>Monitoramento</td>
            </tr>
            <tr>
              <td>Chegada Assistida</td>
              <td>Locate</td>
              <td>Socket HTTP</td>
              <td>Monitoramento</td>
            </tr>
            <tr>
              <td>Relatório Células</td>
              <td>Realtime Database</td>
              <td>Firebase</td>
              <td>Controle</td>
            </tr>
          </table>
        </header>
      </div>
    </div>

  </section>
  <section>

    <div id="nvsquare-nv" class="container slideanim">
      <div id="nv-square">
        <header id="nv" class='jumbotron'>
          <h1>Novidades</h1>
          <h2>Botão de pânico no celular.</h2>
          <p>
            Quando um cliente, que usa um sistema de segurança, está em uma situação de perigo; ele pode fazer uso de
            um
            dispositivo conhecido como botão de pânico. E este por sua vez avisa a empresa de segurança que o seu
            cliente
            encontra-se com algum problema. Cabendo a empresa de monitoramento tomar as devidas iniciativas para
            atender
            ao
            cliente. Evidentemente era necessário o cliente estar em sua residência ou próximo dela, pois se utiliza
            um
            controle remoto do alarme residencial para ativar o alarme de pânico.<br />
            <br /> Agora com o App HelpButton você pode ter esse serviço mesmo quando não estiver em casa. Integrado
            ao
            sistema
            VS que varias empresas de segurança utilizam, seu celular pode alem de notificar a empresa de
            monitoramento
            da
            sua
            necessidade também pode localizar exatamente você onde você estiver. Tudo graças ao serviço de GPS
            integrado
            ao
            sistema.
          </p>
        </header>
      </div>
    </div>
  </section>

</div>

<!-- Footer -->
<footer class='first-footer bg-dark text-light'>
  <div class="">
    <p>Fabianospdev<br>
      Florianópolis /sc, Brasil
    </p>
  </div>
</footer>
