/* You can add global styles to this file, and also import other style files */
.body {
  width: 100% !important;
}

.div-main {
  width: 100% !important;
  padding: 0% 0% 0% 0% !important;
}
.img-fundo {
  width: 100% !important;
  overflow: hidden;
  z-index: -1500;
}

.first-footer {
  margin-top: 20%;
  height: 50px;
  width: 100% !important;
  padding: 0% 0% 0% 0% !important;
}

div#cd-01,
div#cd-02,
div#cd-03 {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  width: 8rem;
  border-radius: 15px;
  box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.9);
}

div#cd-01:hover,
div#cd-02:hover,
div#cd-03:hover {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.9), inset 0 0 0.5em rgb(138, 138, 158);
}

div#cd-01 h1,
div#cd-02 h1,
div#cd-03 h1 {
  font-size: 0.8rem;
}

div#cd-01 h3,
div#cd-02 h3,
div#cd-03 h3 {
  align-items: center;
  font-size: 0.5rem;
}
div#cd-01 h4,
div#cd-02 h4,
div#cd-03 h4 {
  font-size: 0.3rem;
}

#desenv {
  margin-top: 18%;
}

div#desenv-square {
  width: 250%;
  height: 350px;
  margin: 20% 0% 15% 0%;
  padding: 2% 2% 2% 2%;
  background-color: #dee0fe;
  border-radius: 12px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.9);
}
div#desenv-square:hover {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.9), inset 0 0 0.5em rgb(187, 187, 202);
}
div#desenv-square h1 {
  font-size: 1.4rem;
}
div#desenv-square h2,
h3 {
  font-size: 1rem;
}

section#sectable {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 0px;
}

table#tableindex {
  border-spacing: 0px;
  margin-bottom: 10px;
  margin-top: -10px;
  width: 250px;
  height: 150px;
  font-size: 0.3rem;
}

table#tableindex td:hover {
  background-color: yellow;
  color: red;
  -webkit-transform: scale(0.95);
  -moz-transition: scale(0.95);
  -o-transition: scale(0.95);
  transition: scale(1.05);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

header#texto-esq span {
  font-size: 0.8rem;
}

header#texto-esq p {
  width: 250px;
  padding-bottom: -15px;
  font-size: 0.8rem;
}

table#tableindex td {
  border: 1px solid #606060;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #d6cbcb;
}

header#nv {
  margin-top: 18%;
  border-radius: 12px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.9);
}

@media (min-width: 280px) and (max-width: 323px) {
  div#desenv-square {
    width: 100% !important;
    height: 400px !important;
    margin: 5% 0% 5% 0% !important;
    padding: 0% !important;
  }
  table#tableindex {
    border-spacing: 0px;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 250px !important;
    height: 150px !important;
    font-size: 0.3rem;
  }
}
@media (min-width: 324px) and (max-width: 575px) {
  div#desenv-square {
    width: 110%;
    height: 410px !important;
    margin: 5% 0% 15% 0% !important;
    padding: 0% !important;
  }
  div#desenv-square:hover {
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.9), inset 0 0 0.5em rgb(57, 57, 79);
  }
  div#desenv-square h1 {
    font-size: 1.4rem;
  }
  div#desenv-square h2,
  h3 {
    font-size: 1rem;
  }

  section#sectable {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 0px;
  }

  table#tableindex {
    border-spacing: 0px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 95% !important;
    height: 200px !important;
    font-size: 0.5rem !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  table#tableindex td:hover {
    -webkit-transform: scale(0.95);
    -moz-transition: scale(0.95);
    -o-transition: scale(0.95);
    transition: scale(1.05);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  header#texto-esq span {
    font-size: 0.8rem;
  }

  header#texto-esq p {
    width: 250px;
    padding-bottom: -15px;
    font-size: 0.8rem;
  }

  table#tableindex td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #d6cbcb;
  }
}

/* Extra small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  div#cd-01,
  div#cd-02,
  div#cd-03 {
    margin: 2%;
    width: 8rem;
  }

  div#cd-01 h1,
  div#cd-02 h1,
  div#cd-03 h1 {
    font-size: 0.8rem;
  }

  div#cd-01 h3,
  div#cd-02 h3,
  div#cd-03 h3 {
    align-items: center;
    font-size: 0.5rem;
  }
  div#cd-01 h4,
  div#cd-02 h4,
  div#cd-03 h4 {
    font-size: 0.4rem;
  }

  div#desenv-square {
    width: 70%;
    height: 410px !important;
    margin: 5% 15% 15% 15% !important;
    padding: 2%;
  }

  div#desenv-square h1 {
    font-size: 1.6rem;
  }
  div#desenv-square h2,
  h3 {
    font-size: 1rem;
  }

  section#sectable {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 0px;
  }

  table#tableindex {
    border-spacing: 0px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 95%;
    height: 200px !important;
    font-size: 0.5rem !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  table#tableindex td:hover {
    -webkit-transform: scale(0.95);
    -moz-transition: scale(0.95);
    -o-transition: scale(0.95);
    transition: scale(1.05);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  header#texto-esq span {
    font-size: 0.8rem;
  }

  header#texto-esq p {
    width: 250px;
    padding-bottom: -15px;
    font-size: 0.8rem;
  }

  table#tableindex td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #d6cbcb;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  div#cd-01,
  div#cd-02,
  div#cd-03 {
    width: 8rem;
  }

  div#cd-01 h1,
  div#cd-02 h1,
  div#cd-03 h1 {
    font-size: 0.8rem;
  }

  div#cd-01 h3,
  div#cd-02 h3,
  div#cd-03 h3 {
    font-size: 0.5rem;
  }

  div#cd-01 h4,
  div#cd-02 h4,
  div#cd-03 h4 {
    font-size: 0.4rem;
  }

  div#desenv-square {
    width: 70%;
    height: 410px !important;
    margin: 5% 15% 15% 15% !important;
    padding: 2%;
    background-color: #dee0fe;
    border-radius: 15px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.9);
  }

  div#desenv-square h1 {
    font-size: 1.6rem;
  }
  div#desenv-square h2,
  h3 {
    font-size: 1rem;
  }

  section#sectable {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 0px;
  }

  table#tableindex {
    border-spacing: 0px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 95%;
    height: 200px !important;
    font-size: 0.5rem !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  table#tableindex td:hover {
    -webkit-transform: scale(0.95);
    -moz-transition: scale(0.95);
    -o-transition: scale(0.95);
    transition: scale(1.05);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  header#texto-esq span {
    font-size: 0.8rem;
  }

  header#texto-esq p {
    width: 250px;
    padding-bottom: -15px;
    font-size: 0.8rem;
  }

  table#tableindex td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #d6cbcb;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div#cd-01,
  div#cd-02,
  div#cd-03 {
    width: 12rem;
  }

  div#cd-01 h1,
  div#cd-02 h1,
  div#cd-03 h1 {
    font-size: 1rem;
  }

  div#cd-01 h3,
  div#cd-02 h3,
  div#cd-03 h3 {
    font-size: 0.8rem;
  }

  div#desenv-square {
    width: 70%;
    height: 410px !important;
    margin: 5% 15% 15% 15% !important;
    padding: 2%;
    background-color: #dee0fe;
    border-radius: 15px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.9);
  }

  div#desenv-square h1 {
    font-size: 1.6rem;
  }
  div#desenv-square h2,
  h3 {
    font-size: 1rem;
  }

  section#sectable {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 0px;
  }

  table#tableindex {
    border-spacing: 0px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 95%;
    height: 200px !important;
    font-size: 0.5rem !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  table#tableindex td:hover {
    -webkit-transform: scale(0.95);
    -moz-transition: scale(0.95);
    -o-transition: scale(0.95);
    transition: scale(1.05);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  header#texto-esq span {
    font-size: 0.8rem;
  }

  header#texto-esq p {
    width: 250px;
    padding-bottom: -15px;
    font-size: 0.8rem;
  }

  table#tableindex td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #d6cbcb;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  div#cd-01,
  div#cd-02,
  div#cd-03 {
    margin: 2%;
    width: 18rem;
  }

  div#cd-01 h1,
  div#cd-02 h1,
  div#cd-03 h1 {
    font-size: 1.4rem;
  }

  div#cd-01 h3,
  div#cd-02 h3,
  div#cd-03 h3 {
    font-size: 1rem;
  }
  div#cd-01 h4,
  div#cd-02 h4,
  div#cd-03 h4 {
    font-size: 0.8rem;
  }

  div#desenv-square {
    width: 70% !important;
    height: 550px !important;
    margin: 5% 15% 5% 15% !important;
    padding: 2% 2% 5% 2% !important;
  }

  div#desenv-square h1 {
    font-size: 1.6rem;
  }
  div#desenv-square h2,
  h3 {
    font-size: 1rem;
  }

  section#sectable {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 0px;
  }

  table#tableindex {
    border-spacing: 0px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 10px;
    margin-top: -10px;
    width: 95%;
    height: 250px;
    font-size: 1.4rem !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  table#tableindex td:hover {
    -webkit-transform: scale(0.95);
    -moz-transition: scale(0.95);
    -o-transition: scale(0.95);
    transition: scale(1.05);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  header#texto-esq span {
    font-size: 1.4rem;
  }

  header#texto-esq p {
    width: 250px;
    padding-bottom: -15px;
    font-size: 1rem;
  }

  table#tableindex td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #d6cbcb;
  }
}
